* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  background-color: rgb(236, 235, 235);
}

header {
  background-color: #282c34;
  height: 10vh;
  font-size: 20px;
  color: lightsalmon;
  display: flex;
  align-items: center;
  padding: 15px;
}

main {
  height: 80vh;
}

footer {
  background-color: #282c34;
  height: 10vh;
  font-size: 20px;
  color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circlecontainer {
  display: flex;
  justify-content: center;
  padding: 130px;
}

.circle {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  font-size: 48px;
  color: #282c34;
}

.odd {
  background-color: olive;
}

.even {
  background-color: hotpink;
}

button {
  height: 50px;
  width: 150px;
  font-size: 20px;
  background-color: rgb(149, 211, 250);
  border-radius: 4px;
  border: solid 1px #282c34;
  box-shadow: 2px 3px 10px #282c34;
}

.buttoncontainer {
  display: flex;
  justify-content: space-evenly;
}
